.u-section-1 .u-sheet-1 {
    min-height: 772px;
}

.u-section-1 .u-text-1 {
    margin-bottom: 0;
    margin-top: 70px;
}

.u-section-1 .u-table-1 {
    margin-top: 29px;
    margin-bottom: 70px;
}

.u-block-a2bf-5 {
    font-size: 1.125rem;
    font-weight: 700;
}

.u-section-1 .u-table-body-1 {
    font-size: 2.25rem;
    font-weight: 400;
} /* ok*/

.u-section-1 .u-table-cell-5 {
    font-size: 1.125rem;
    font-weight: 700;
}

.u-section-1 .u-table-cell-9 {
    font-size: 1.125rem;
    font-weight: 700;
}

.u-section-1 .u-table-cell-13 {
    font-size: 1.125rem;
    font-weight: 700;
}

.u-section-1 .u-table-cell-17 {
    font-size: 1.125rem;
    font-weight: 700;
}

.u-section-1 .u-table-cell-21 {
    font-size: 1.125rem;
    font-weight: 700;
}

.u-block-a2bf-30 {
    height: 47px;
}
